@import url("messages/messages.css");

/* Map */
.stations,.stations svg {
	position: absolute;
}

.stations svg {
	width: 60px;
	height: 20px;
	padding-right: 100px;
	font: 10px sans-serif;
}

.stations circle {
	fill: blue;
	stroke: black;
	stroke-width: 1px;
	opacity: 0.7;
}

/*Bootstrap layout*/
fieldset {
	font-size: 10px;
}

legend {
	font-size: 12px;
}

label {
	padding-bottom: 0;
    padding-top: 7px;
}

.title {
	color:#ec971f;
	margin-left: 0px;
}